@media (max-width: 500px) {
  .container {
    padding: 0 0.5rem !important; }
  #home {
    padding: 0 20px !important; }
    #home .ad-container {
      border-radius: 5px;
      margin: 30px 10px; }
      #home .ad-container .ad-description .hosting {
        display: none !important; }
      #home .ad-container .ad-description .hosting-mobile {
        display: block !important; }
    #home .section {
      flex-direction: column; }
    #home .multi-date-picker {
      border: 2px #767676 solid;
      border-radius: 5px;
      margin: 10px;
      margin-right: 10px; }
  #navbar {
    height: 70px !important; }
    #navbar .title {
      font-size: 1.3rem !important;
      line-height: 70px !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

img {
  width: 100%; }

a,
a:active {
  text-decoration: none;
  color: inherit; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/mapleleaves.jpg") no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed; }

.container {
  max-width: 1024px;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden; }

.btn-hesapla {
  height: 3rem;
  width: 100%; }

#navbar {
  height: 100px;
  margin: auto;
  display: block;
  position: relative;
  background: #f50057;
  margin-bottom: 30px; }
  #navbar .title {
    font-size: 2rem;
    text-align: center;
    line-height: 90px;
    color: White; }

#home {
  padding: 0 30px;
  color: #767676; }
  #home .ad-container {
    border-radius: 5px;
    margin: 30px 10px; }
    #home .ad-container .ad-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 2px #767676 solid;
      margin: 5px;
      border-radius: 5px;
      padding: 5px;
      flex-wrap: wrap; }
      #home .ad-container .ad-description .text-web {
        font-size: 2rem;
        text-align: center; }
        #home .ad-container .ad-description .text-web .price {
          color: #46237a;
          font-weight: 800; }
      #home .ad-container .ad-description .hosting {
        font-size: 4rem;
        color: #f50057;
        font-family: 'Shadows Into Light', cursive;
        width: 450px;
        margin-right: -100px; }
      #home .ad-container .ad-description .hosting-mobile {
        display: none;
        text-align: center;
        font-size: 4rem;
        color: #f50057;
        font-family: 'Shadows Into Light', cursive;
        width: 450px;
        margin: -10px -150px; }
      #home .ad-container .ad-description .text {
        overflow-wrap: break-word; }
      #home .ad-container .ad-description .phoneNumber {
        font-size: 2rem;
        color: #f50057;
        text-align: center; }
    #home .ad-container .ad-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 5px; }
      #home .ad-container .ad-box .text {
        text-align: center; }
    #home .ad-container .item {
      width: 200px;
      border: 2px #767676 solid;
      flex-basis: auto;
      flex-grow: 1;
      margin: 5px;
      padding: 5px;
      border-radius: 5px; }
      #home .ad-container .item .ad-icon {
        padding: 10px;
        color: red;
        text-align: center; }
  #home .container {
    background: white no-repeat center center/cover;
    border-radius: 5px;
    margin-bottom: 30px; }
  #home .box {
    border: 2px #767676 solid;
    border-radius: 5px;
    margin: 10px 10px 10px;
    width: 100%; }
    #home .box .text {
      font-size: 1.5rem;
      text-align: center;
      color: #767676;
      margin: 10px; }
  #home .section {
    display: flex;
    justify-content: center;
    align-items: center; }
    #home .section .date-picker {
      width: 220px;
      height: 100px;
      margin: 5px 10px;
      margin-bottom: -25px; }
  #home .multi-date-picker {
    border: 2px #767676 solid;
    border-radius: 5px;
    margin: 20px; }
  #home .icon {
    margin-bottom: 3px;
    font-size: 1rem; }
