@import 'config';
@import 'media';
@import 'utilities';

html {
  // --filled-box: 100%;
  --navbar-height: 125px;
  --footer-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  margin-bottom: var(--footer-height);
}

.center-container {
  padding-right: 10px;
  overflow: hidden;
}

.btn-hesapla {
  height: 3rem;
  width: 100%;
}

.back-button {
  margin-top: 10px;
}

#navbar {
  min-height: var(--navbar-height);
  margin: auto;
  background: url('../images/ust.jpg') no-repeat center center/cover;
  margin-bottom: 10px;
  .navbar-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    .icon {
      width: 120px;
      margin: 5px;
      height: 120px;
      background: url('../images/flag.png') no-repeat center center/cover;
    }
    .title {
      font-size: 3rem;
      text-align: center;
      // line-height: 19px;
      color: White;
      font-family: 'Oswald', sans-serif;
    }
  }
}

#home {
  color: rgb(118, 118, 118);
  display: grid;
  grid-template-columns: 350px auto 280px;
  .center-container {
    background: rgba(106, 143, 217, 0.05) no-repeat center center/cover;
    border-radius: 5px;
    margin: 0;
  }

  .ad-container {
    background: #af1038;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
    padding-bottom: 0;

    .ad-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      border-radius: 5px;
      padding: 5px;
      flex-wrap: wrap;

      .text-web {
        font-size: 1.8rem;
        text-align: center;
        margin: 10px 0;
        .price {
          color: #f5d18f;
          font-weight: 800;
          font-size: 3rem;
        }
      }

      .hosting {
        font-size: 3.2rem;
        color: #f5d18f;
        font-family: 'Shadows Into Light', cursive;
      }

      .text {
        overflow-wrap: break-word;
      }
      .email {
        font-size: 2.3rem;
      }
      .phoneNumber {
        font-size: 3rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #222649;

        color: white;
        text-align: center;
      }
    }

    .ad-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .text {
        text-align: center;
        font-size: 1rem;
      }
    }

    .item {
      width: 100px;
      flex-basis: auto;
      flex-grow: 1;
      margin: 10px 5px;
    }
  }

  .ad-container-2 {
    background: #222649;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .ad-image {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }

  .box {
    border: 2px rgb(118, 118, 118) solid;
    border-radius: 5px;
    margin: 10px 10px 10px;
    width: 100%;

    .box-radio {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding-right: 20px;
    }

    .box-date {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding-right: 20px;
    }

    .text {
      font-size: 1.5rem;
      text-align: left;
      color: #222649;
      margin: 10px;
      margin-left: 30px;
    }

    .multi-date {
      text-align: right;
      padding-right: 20px;
      margin-bottom: 10px;
      .date-picker {
        width: 200px;
        height: 100px;
        margin: 5px 10px;
        margin-bottom: -15px;
      }
    }

    .multi-date-with-button {
      text-align: right;
      padding-right: 20px;
      .date-picker {
        width: 200px;
        height: 100px;
        margin: 5px 10px;
        margin-bottom: -15px;
      }
    }

    .right-sil-button {
      display: none;
    }
  }

  .single-date {
    display: flex;
    justify-content: center;
    align-items: center;

    .date-picker {
      width: 200px;
      height: 100px;
      margin: 5px 10px;
      margin-top: 20px;
      margin-bottom: -15px;
    }
  }

  .icon {
    margin-top: 20px;
    margin-bottom: 3px;
  }
}

.result-container {
  margin: auto;
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  flex-direction: column;

  .result-text-container {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // margin: 10px;
    height: 100%;
    background: #f50057;

    .result-text {
      font-size: 3rem;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  height: var(--footer-height);
  width: 100%;
  background: url('../images/footer.jpg') no-repeat center center/cover;
}
