@import 'config';
@import 'media';
@import 'utilities';

html {
  --filled-box: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background: url('../images/background.jpg') no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  max-width: $website-width;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

.btn-hesapla {
  height: 3rem;
  width: 100%;
}

#navbar {
  height: 100px;
  margin: auto;
  display: block;
  position: relative;
  background: url('../images/ust.jpg') no-repeat center center/cover;
  margin-bottom: 20px;
  .navbar-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    .icon {
      width: 90px;
      height: 90px;
      background: url('../images/icon.png') no-repeat center center/cover;
    }
    .title {
      font-size: 3rem;
      text-align: center;
      line-height: 19px;
      color: White;
      font-family: 'Oswald', sans-serif;
    }
  }
}

#home {
  padding: 0 30px;
  color: rgb(118, 118, 118);

  .ad-container {
    border-radius: 5px;
    margin: 30px 10px;

    .ad-description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 2px rgb(118, 118, 118) solid;
      margin: 5px;
      border-radius: 5px;
      padding: 5px;
      flex-wrap: wrap;

      .text-web {
        font-size: 1.5rem;
        text-align: center;
        margin: 10px 0;
        .price {
          color: #46237a;
          font-weight: 800;
        }
      }

      .hosting {
        font-size: 4rem;
        color: #f50057;
        font-family: 'Shadows Into Light', cursive;
        width: 450px;
        margin-right: -100px;
      }
      .hosting-mobile {
        display: none;
        text-align: center;
        font-size: 2.5rem;
        color: #f50057;
        font-family: 'Shadows Into Light', cursive;
        width: 450px;
        margin: -10px -150px;
      }
      .text {
        overflow-wrap: break-word;
      }
      .phoneNumber {
        font-size: 2rem;
        color: #f50057;
        text-align: center;
      }
    }

    .ad-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 5px;
      .text {
        text-align: center;
      }
    }

    .item {
      width: 200px;
      border: 2px rgb(118, 118, 118) solid;
      flex-basis: auto;
      flex-grow: 1;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;

      .ad-icon {
        padding: 10px;
        color: red;
        text-align: center;
      }
    }
  }

  .calculation-container {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .loading-box {
      border-radius: 5px;
      height: 500px;
      width: 300px;
      background: #f50057;
      text-align: center;
      color: #fff;
      margin: 20px;
      position: relative;
      overflow: hidden;

      .loading-box-filled {
        position: absolute;
        bottom: 0;
        left: 0;
        height: var(--filled-box);
        width: 100%;
        color: #fff;
        text-align: center;
        background: #343f4f;
        animation: filling 4s linear;
      }
      .loading-text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;

        .loading-text {
          font-size: 3rem;
        }
      }
    }
  }

  .container {
    background: rgba(106, 143, 217, 0.05) no-repeat center center/cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .box {
    border: 2px rgb(118, 118, 118) solid;
    border-radius: 5px;
    margin: 10px 10px 10px;
    width: 100%;

    .box-radio {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding-right: 100px;
    }

    .box-date {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding-right: 100px;
    }

    .text {
      font-size: 1.5rem;
      text-align: center;
      color: rgb(118, 118, 118);
      margin: 10px;
      margin-left: 30px;
      margin-right: 150px;
    }

    .multi-date {
      text-align: right;
      padding-right: 100px;
      .date-picker {
        width: 220px;
        height: 100px;
        margin: 5px 10px;
        margin-bottom: -25px;
      }
    }

    .multi-date-with-button {
      text-align: right;
      padding-right: 30px;
      .date-picker {
        width: 220px;
        height: 100px;
        margin: 5px 10px;
        margin-bottom: -25px;
      }
    }
  }

  .single-date {
    display: flex;
    justify-content: center;
    align-items: center;

    .date-picker {
      width: 220px;
      height: 100px;
      margin: 5px 10px;
      margin-bottom: -25px;
    }
  }

  .icon {
    margin-top: 20px;
    margin-bottom: 3px;
  }
}

@keyframes filling {
  0% {
    bottom: -250px;
    left: calc(50% - 500px);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
  }
  5.1% {
    bottom: 0;
    left: calc(50% - 187.5px);
    width: 375px;
    height: 667px;
    border-radius: 0;
  }
  80% {
    bottom: 0;
    left: calc(50% - 187.5px);
    width: 375px;
    height: 0;
    border-radius: 0;
    opacity: 1;
  }

  85.1% {
    bottom: 0;
    left: calc(50% - 187.5px);
    width: 375px;
    height: 0;
    border-radius: 0;
    visibility: hidden;
  }

  85.2% {
    bottom: 85px;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    visibility: hidden;
  }

  95% {
    bottom: 127.5px;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    visibility: visible;
  }

  100% {
    bottom: 85px;
    left: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    visibility: visible;
  }
}

// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

// $blue: #343f4f;
// $pink: #fc6d6d;

// html,
// body {
//   display: flex;
//   width: 100%;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   background-color: $pink;
//   overflow: hidden;
// }

// body {
//   &:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding-bottom: 50%;
//     width: 57.7%;
//     background-color: $blue;
//     transform-origin: 0 0;
//     transform: rotate(-30deg) skewX(30deg);
//     z-index: 1;
//   }

//   &:before {
//     content: '';
//     position: absolute;
//     top: 100%;
//     left: 0;
//     padding-bottom: 50%;
//     width: 57.7%;
//     background-color: $blue;
//     transform-origin: 0 0;
//     transform: rotate(-30deg) skewX(30deg);
//     z-index: 1;
//   }
// }

// .card {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 375px;
//   height: 667px;
//   background-color: $blue;
//   overflow: hidden;

//   .card__counter {
//     display: flex;
//     font-family: 'Anonymous Pro';
//     font-weight: bold;
//     color: white;

//     .card__counter__num {
//       font-size: 150px;
//       padding: 0 20px;
//       z-index: 15;
//     }

//     span {
//       margin-top: 45px;
//       font-size: 65px;
//       opacity: 1;
//       transition: opacity 0.3s;
//       z-index: 3;
//     }
//   }

//   .card__button {
//     position: absolute;
//     bottom: 85px;
//     left: calc(50% - 37.5px);
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
//     background-color: $pink;
//     cursor: pointer;
//     z-index: 10;

//     &.card__button--triggered {
//       animation: button 3.9s linear;

//       ~ .card__counter span {
//         opacity: 0;
//       }
//     }
//   }

//   .card__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
//     box-shadow: inset 0px 0px 85px 70px $blue;
//   }
// }

// .card {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 375px;
//   height: 667px;
//   background-color: $blue;
//   overflow: hidden;

//   .card__counter {
//     display: flex;
//     font-family: 'Anonymous Pro';
//     font-weight: bold;
//     color: white;

//     .card__counter__num {
//       font-size: 150px;
//       padding: 0 20px;
//       z-index: 15;
//     }

//     span {
//       margin-top: 45px;
//       font-size: 65px;
//       opacity: 1;
//       transition: opacity 0.3s;
//       z-index: 3;
//     }
//   }

//   .card__button {
//     position: absolute;
//     bottom: 85px;
//     left: calc(50% - 37.5px);
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
//     background-color: $pink;
//     cursor: pointer;
//     z-index: 10;

//     &.card__button--triggered {
//       animation: button 3.9s linear;

//       ~ .card__counter span {
//         opacity: 0;
//       }
//     }
//   }

//   .card__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
//     box-shadow: inset 0px 0px 85px 70px $blue;
//   }
// }

// @keyframes button {
//   4.9% {
//     bottom: -250px;
//     left: calc(50% - 500px);
//     width: 1000px;
//     height: 1000px;
//     border-radius: 50%;
//   }
//   5.1% {
//     bottom: 0;
//     left: calc(50% - 187.5px);
//     width: 375px;
//     height: 667px;
//     border-radius: 0;
//   }
//   80% {
//     bottom: 0;
//     left: calc(50% - 187.5px);
//     width: 375px;
//     height: 0;
//     border-radius: 0;
//     opacity: 1;
//   }

// 85.1% {
//   bottom: 0;
//   left: calc(50% - 187.5px);
//   width: 375px;
//   height: 0;
//   border-radius: 0;
//   visibility: hidden;
// }

// 85.2% {
//   bottom: 85px;
//   left: 50%;
//   width: 0;
//   height: 0;
//   border-radius: 50%;
//   visibility: hidden;
// }

// 95% {
//   bottom: 127.5px;
//   left: 50%;
//   width: 0px;
//   height: 0px;
//   border-radius: 50%;
//   visibility: visible;
// }

// 100% {
//   bottom: 85px;
//   left: calc(50% - 37.5px);
//   width: 75px;
//   height: 75px;
//   border-radius: 50%;
//   visibility: visible;
// }
// }

// .shadow {
//   display: flex;
//   position: absolute;
//   top: 55px;
//   width: 375px;
//   height: 667px;
//   content: '';
//   box-shadow: 0 0 100px 0 black;
//   z-index: 10;
// }
