@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/mapleleaves.jpg') no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-hesapla {
  height: 3rem;
  width: 100%;
}

#navbar {
  height: 100px;
  margin: auto;
  display: block;
  position: relative;
  .title {
    font-size: 3rem;
    text-align: center;
    line-height: 90px;
    color: White;
  }
}

#home {
  padding: 0 30px;
  color: rgb(118, 118, 118);

  .ad {
    border: 2px rgb(118, 118, 118) solid;
    border-radius: 5px;
    margin: 30px 10px;
  }

  .container {
    background: white no-repeat center center/cover;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .box {
    border: 2px rgb(118, 118, 118) solid;
    border-radius: 5px;
    margin: 10px 10px 10px;
    width: 100%;

    .text {
      font-size: 1.5rem;
      text-align: center;
      color: rgb(118, 118, 118);
      margin: 10px;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    .date-picker {
      width: 220px;
      height: 100px;
      margin: 5px 10px;
      margin-bottom: -25px;
    }
  }

  .icon {
    margin-bottom: 5px;
    font-size: 2rem;
  }
}

// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

// $blue: #343f4f;
// $pink: #fc6d6d;

// html,
// body {
//   display: flex;
//   width: 100%;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   background-color: $pink;
//   overflow: hidden;
// }

// body {
//   &:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding-bottom: 50%;
//     width: 57.7%;
//     background-color: $blue;
//     transform-origin: 0 0;
//     transform: rotate(-30deg) skewX(30deg);
//     z-index: 1;
//   }

//   &:before {
//     content: '';
//     position: absolute;
//     top: 100%;
//     left: 0;
//     padding-bottom: 50%;
//     width: 57.7%;
//     background-color: $blue;
//     transform-origin: 0 0;
//     transform: rotate(-30deg) skewX(30deg);
//     z-index: 1;
//   }
// }

// .card {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 375px;
//   height: 667px;
//   background-color: $blue;
//   overflow: hidden;

//   .card__counter {
//     display: flex;
//     font-family: 'Anonymous Pro';
//     font-weight: bold;
//     color: white;

//     .card__counter__num {
//       font-size: 150px;
//       padding: 0 20px;
//       z-index: 15;
//     }

//     span {
//       margin-top: 45px;
//       font-size: 65px;
//       opacity: 1;
//       transition: opacity 0.3s;
//       z-index: 3;
//     }
//   }

//   .card__button {
//     position: absolute;
//     bottom: 85px;
//     left: calc(50% - 37.5px);
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
//     background-color: $pink;
//     cursor: pointer;
//     z-index: 10;

//     &.card__button--triggered {
//       animation: button 3.9s linear;

//       ~ .card__counter span {
//         opacity: 0;
//       }
//     }
//   }

//   .card__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
//     box-shadow: inset 0px 0px 85px 70px $blue;
//   }
// }

// .card {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 375px;
//   height: 667px;
//   background-color: $blue;
//   overflow: hidden;

//   .card__counter {
//     display: flex;
//     font-family: 'Anonymous Pro';
//     font-weight: bold;
//     color: white;

//     .card__counter__num {
//       font-size: 150px;
//       padding: 0 20px;
//       z-index: 15;
//     }

//     span {
//       margin-top: 45px;
//       font-size: 65px;
//       opacity: 1;
//       transition: opacity 0.3s;
//       z-index: 3;
//     }
//   }

//   .card__button {
//     position: absolute;
//     bottom: 85px;
//     left: calc(50% - 37.5px);
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
//     background-color: $pink;
//     cursor: pointer;
//     z-index: 10;

//     &.card__button--triggered {
//       animation: button 3.9s linear;

//       ~ .card__counter span {
//         opacity: 0;
//       }
//     }
//   }

//   .card__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10;
//     box-shadow: inset 0px 0px 85px 70px $blue;
//   }
// }

// @keyframes button {
//   4.9% {
//     bottom: -250px;
//     left: calc(50% - 500px);
//     width: 1000px;
//     height: 1000px;
//     border-radius: 50%;
//   }
//   5.1% {
//     bottom: 0;
//     left: calc(50% - 187.5px);
//     width: 375px;
//     height: 667px;
//     border-radius: 0;
//   }
//   80% {
//     bottom: 0;
//     left: calc(50% - 187.5px);
//     width: 375px;
//     height: 0;
//     border-radius: 0;
//     opacity: 1;
//   }

//   // 85.1% {
//   //   bottom: 0;
//   //   left: calc(50% - 187.5px);
//   //   width: 375px;
//   //   height: 0;
//   //   border-radius: 0;
//   //   visibility: hidden;
//   // }

//   // 85.2% {
//   //   bottom: 85px;
//   //   left: 50%;
//   //   width: 0;
//   //   height: 0;
//   //   border-radius: 50%;
//   //   visibility: hidden;
//   // }

//   // 95% {
//   //   bottom: 127.5px;
//   //   left: 50%;
//   //   width: 0px;
//   //   height: 0px;
//   //   border-radius: 50%;
//   //   visibility: visible;
//   // }

//   // 100% {
//   //   bottom: 85px;
//   //   left: calc(50% - 37.5px);
//   //   width: 75px;
//   //   height: 75px;
//   //   border-radius: 50%;
//   //   visibility: visible;
//   // }
// }

// .shadow {
//   display: flex;
//   position: absolute;
//   top: 55px;
//   width: 375px;
//   height: 667px;
//   content: '';
//   box-shadow: 0 0 100px 0 black;
//   z-index: 10;
// }
